*{box-sizing: border-box;}

	body{font-family: Arial, Helvetica, sans-serif;}

	header{background-color: #6A707E;
		 padding: 40px;
		 text-align: center;
		 font-size: 40px;
		 color: white;}

	nav{float: center;
		width: 100%;
		height: 100px;
		background: none;
		padding: 25px;}

		 ul{list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #6A707E;}

                li{float:left;}

                li a{display: block;
                	color: white;
                	text-align: center;
                	padding: 14px 16px;
                	text-decoration: none;}

	       p{text-align: justify;}

	       	footer{background-color: #6A707E;
	       		padding: 10px;
	       		text-align: center;
	       		color: white;}

	       			@media (max-width: 600px)
	       			{nav,article{
	       				width: 100%;
	       				height: auto;
	       			}}